.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Permite que el contenido crezca y ocupe espacio disponible */
  }
  
  .btn {
    margin-top: auto; /* Alinea el botón al final del cuerpo de la tarjeta */
  }
    